{% extends 'base.html.twig' %}

{% block title %}Album : {{ album.nom }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}

    <div class="chanson-wrapper">
        <img class="coverDetail" src={{ album.cover}} />
        <div class="chansonInfo">
            <h1>{{ album.nom }}</h1>
            <p>Artiste : {{ album.artiste }}</p>
            {% set formattedDate = album.annee|date('Y-m-d H:i') %}
            <p>Année : {{ formattedDate }}</p>
            <p>Label : {{ album.label }}</p>
            <p>Style : {{ album.style }}</p>
            <p>Tracklist : </p>
            <ul>
                {% for chanson in album.tracklist %}
                <li>{{ chanson }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <a href="/displayDisco/tout">Retour</a>
{% endblock %}
