{% extends 'base.html.twig' %}

{% block title %}Hello SignupController!{% endblock %}

{% block body %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/app.js') }}" defer></script>
    <script src="{{ asset('js/controllers/password-validation_controller.js') }}" defer></script>
{% endblock %}

<div class="signup-wrapper">
    <form method="post">
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.mail) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
        <button type="submit">Register</button>
        {{ form_end(form) }}
    </form>
</div>
{% endblock %}
